<li [ngClass]="{'list-group-item': true,
'list-group-item-success':appareilStatus==='Allume',
'list-group-item-danger': appareilStatus==='Eteint'}">

  <h4 [ngStyle]="{color: getColor()}">Appareil : {{appareilName}} -- Status : {{appareilStatus}} </h4>
  <a [routerLink]="[id]">Details</a>
  <button (click)="onAllumerUn()" class="btn btn-success" style="margin-left: 3px" [disabled]="appareilStatus==='Allume'">Allumer</button>
  <button (click)="onEteindreUn()" class="btn btn-danger" style="margin-left: 3px" [disabled]="appareilStatus==='Eteint'">Eteindre</button>
</li>
